<div class="row">
    {% for item in site.pages %}
        {% if item.page_type %}
        <div class="column">
            <div class="column-item">
                <a href="{{item.url}}"> <img src="{{item.images[0].image}}"/> </a>
                <h3 style="margin-bottom: 1px; font-weight: bold;">{{ item.title | escape }}</h3>
                <h4 style="margin-top: -5px; margin-bottom: 1px;">RM {{ item.price | escape }}</h4>
                <a href="{{ item.url | relative_url }}">see more</a>
            </div>
        </div>
         {% endif %}
    {% endfor %}
</div>


<style>
    .column {
      float: left;
      width: 50%;
      
    }
    .column-item {
      float: left;
      padding: 10px;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
      padding: 20px;
      
    }
</style> 