---
layout: default
---
<article class="post">

    <header class="post-header">
      <h1 class="post-title">{{ page.title | escape }}</h1> 
      <p style="margin-top: -10px; font-weight: bold;">{{page.id}} {{page.colour}}</p>
    </header>
  
    <div class="post-content">

        {% if page.before_price %}
        <h2 style="font-weight: bold;"> <strike> RM {{page.before_price}}</strike>  RM {{page.price}}  </h2>
        {% else %}
        <h2 style="font-weight: bold;">From RM {{page.price}} </h2>
        {% endif %}
        <p style="margin-top: -15px;">** Deposit RM {{page.deposit}} </p>
        <p style="margin-top: -20px;">** Preorder basis only </p>


        {% include carousel.html images=page.images height=page.image_height unit="%" duration="7" %}

        <!-- <h3>Description</h3>  -->
        <ul>
            {% for item in page.descriptions %}
            <li> {{item.desc}} </li>
            {% endfor %}
        </ul>

<!-- SIZE TABLE  -->
        {% if  page.size %}
        <h3>Size</h3>
        <table style="font-size: small; width: fit-content;">
        {% for si in page.size %}
            <tr >
            {% if si.header %}
                <th>
            {% else %}
                <td>
            {% endif %}
        {{si.name}}
            {% if si.header %}
                </th>
            {% else %}
                </td>
            {% endif %}

            {% for val in si.values %} 
            {% if si.header %}
                <th>
            {% else %}
                <td>
            {% endif %}
                {{val}}
            {% if si.header %}
                </th>
            {% else %}
                </td>
            {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
        </table>
        <h5 style="margin-top: -25px;">** measurement in inch </h5>
        {% endif %}


        {%if page.prices %}
        <h3>Pricing</h3>
        <table style="width: fit-content;">
           
            <tr>
                {% for price in page.prices %}
                <th>{{price.header}}</th>
                {% endfor %}
            </tr>
        
            {% for i in (0..page.prices[0].values.size) %}
             {%if i < page.prices[0].values.size%}
                <tr>
                    {% for j in (0..page.prices.size)  %}
                    {%if j < page.prices.size  %}
                    <td style="{{page.prices[j].style}}">{{page.prices[j].values[i]}}</td>
                    {% endif%}
                    {% endfor %}
                </tr>
              {% endif %}
            {% endfor %}
        </table>
        {% endif %}

        {% if page.sampin_prices %}
        <h3>Sampin pricing</h3>
        <table style="width: fit-content;">
           
            <tr>
                {% for price in page.sampin_prices %}
                <th>{{price.header}}</th>
                {% endfor %}
            </tr>
        
            {% for i in (0..page.sampin_prices[0].values.size) %}
             {%if i < page.sampin_prices[0].values.size%}
                <tr>
                    {% for j in (0..page.sampin_prices.size)  %}
                    {%if j < page.sampin_prices.size  %}
                    <td style="{{page.sampin_prices[j].style}}">{{page.sampin_prices[j].values[i]}}</td>
                    {% endif%}
                    {% endfor %}
                </tr>
              {% endif %}
            {% endfor %}
        </table>
        {% endif %}

      {{ content }}
    </div>
  
    <button onclick="window.location.href='https://wa.me/60127658512?text=interested%20in%0Ahttps://erynafellah.github.io{{page.url}}';">
        WhatsApp To Buy This!
    </button>
    
</article>
